nav{
    display: flex;
    justify-content: space-between;
    .pseudo-exit{
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }
    h1{
        
        margin-right: 8%;
    }
}