.connection{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .nodal{
        width: 40%;
        min-width: 310px;
        height: 55%;
        //border: rgba(26,26,26,0.84) 1px solid;
        -webkit-box-shadow: 9px 6px 15px 4px rgba(26,26,26,0.84); 
        box-shadow: 9px 6px 15px 4px rgba(26,26,26,0.84);
        border-radius: 10px;

        input{
            height: 2em;
            padding: 12px 20px;
            border-radius: 8em;
            box-shadow: 10px 10px 16px -8px rgba(0,0,0,0.1);
            border-color: $color5;
            @media screen and (min-width: 2000px){
                height: 3em;
            }
        }
        input[type=button]{
            padding: 0;
            background-color: $color5;
        }
        label{
            margin-left: 10px;
        }
        @media screen and (max-width: 877px) {
            height: 60%;
            }
    }
    .envoyer{
        margin-top: 15px;
    }
    .nodal-btns{
        display: flex;
        height: 20%;
        width: 100%;
        font-weight: 900;
        font-size: 1.5em;
        
    }
    .signup-btn{
        width: 50%;
        background-color: $color3;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-top-left-radius: 10px;
        
    }
    .login-btn{
        width: 50%;
        background-color: $color3;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-top-right-radius: 10px;
    }
    .border{
        border-bottom: 2px $color5 solid;
    }
    .red{
        color: #b30b0b;
    }
}