.home{
    background-color: $color3 ;
    width: 100%;
    .contentx3{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .posts-middle{
        order: 1;
        width: 98%;
        margin-left: 1%;
    }
    .newMessage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        padding: 10px;
    }
    .form-lab{
        margin-bottom: 4px;
        font-size: 1.5em;
    }
    .form-text{
        margin-bottom: 4px;
        border-radius: 20px;
    }
    .form-btn{
        border-radius: 15px;
        border-color: rgb(138, 143, 125);
        background-color: rgb(215, 225, 181);
        padding: 1.5px;
        cursor: pointer;
        scale: 1.2;
    }
    .form-btn:hover{
        background-color: rgb(209, 211, 183);
    }
    .photo-message{
        display: flex;
        flex-direction: column;
    }
    #photo{
        
        height: 100px;
    }
    textarea{
        padding: 10px 10px;
    }
    .photo-envoi{
        display: flex;
    }
    #addPhoto{
        display: none;
    }
    .file{
        margin-right: 15px;
        border: solid 1px;
        font-size: 0.9em;

    }
    @media screen and (min-width: 1024px){
        .contentx3{
            flex-direction: row;
            align-items: normal;
        }
        .posts-middle{
            order: 2;
        }
    }
}