.profil{
    height: 100%;
    
    #imgProfil{
        height: 15%;
        width: 15%;
        border-radius: 50px;
        margin: 5%;
    }
    form{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-top: 5%;

        button{
            width: 10%;
        }
    }
}